*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{
    background-image:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(computer.jpeg);
    background-size: cover;
    background-position: center;
    height:280vh;
}
.logo1{
    float: left;
    position: absolute;
    left: 35px;
    top: 120px;
}
.text1{
    float: right;
    position: absolute;
    right: -500px;
    top: 70px;
}
.logo2{
     float: right;
    position: relative;
    right: 35px;
    top: 400px;
}
.text2{
    position: absolute;
    left: -550px;
    top: 60px;
}
.logo3 {

    float: left;
    position: relative;
    left: 35px;
    top: 740px;
}
.text3{
    float: right;
    position: absolute;
    right: -500px;
    top: 90px;
}

.logo4{

    float:right;
    position:relative;
    right:35px;
    top: 800px;
}
.text4 {
    position: absolute;
    left: -550px;
    top: 70px;
}