body{
    background-color: #7a43b6;
}
.form_1{
    background-color: white;
    padding: 25px;
    margin-left: 470px;
    margin-top: 70px;
    height: 360px;
    width: 400px;
    float: left;
    box-shadow: 20px 20px 15px black;
    border-radius: 15px;
}
.box{
    width: 320px;
  height: 240px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

