{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block body %}
    <div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/Images/photo-2.png" width="200" height="600" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h5><b>Hand Gestures</b></h5>
          <p>Control the system through hand gestures</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/Images/photo-3.jpg" width="200" height="600" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h5><b style="color: white">Eye Movement</b></h5>
          <p style="color: white">Control the systems using movements of eyes</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/Images/photo-7.png" width="200" height="600" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h5><b style="color: black">Speech To Text</b></h5>
        <p style="color: black">Get all the audio in text</p>
      </div>
    </div>
      <div class="carousel-item">
      <img src="/static/Images/photo-13.jpg" width="200" height="600" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
          <h5><b style="color: black">Text To Speech</b></h5>
          <p style="color: black">Get your textual messages in audio form</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
     </div>
           <div class="text-center" style="color: black">
               <p> <h1  class="mt-0 mb-0">Welcome to Disability Choose Ability </h1><br>
                   <h5>So glad you're here!</h5>
                   We aim to bring a change and here's how.Many times some brilliant minds <br>
                   don't find ways to express themselves.We believe that given proper means<br>
                   we can simplify their lives and they could thrive.We are doing something <br>
                   different for them to communicate, find their strengths and grow!</p>
               <p>
                   This is us supporting Ability-for-all in today's worldWe focus on the <br>
                   betterment of specially-able people so that they could be at par with any <br>
                   other person out there and don't feel left out ever again.Now with us,you <br>
                   don't have to feel any less..We believe we’ll only succeed when our clients<br>
                   are happy and we want you to know that you are in a Good Company<br>
                   <h5>We would like to thank you for stopping by!</h5>


      </p>
          </div>

  </div>


{% endblock body %}

